/* General declaration */
html{
  font-size: 16px;
  line-height: 1.4;
  font-family: Arial, sans-serif;
  color: #212922;
}

h1{
  font-size: 2.5rem;
  font-weight: 900;
  color: #212922;
  padding: 2rem 0;
}

h2{
  font-size: 2rem;
  font-weight: 500;
  color: #212922;
  padding: 2rem 0;
}

h3{
  font-size: 1.5rem;
  font-weight: 500;
  color: #212922;
  padding: 1rem 0;
}

a{
  text-decoration: none;
  transition: color .25s ease-out .125s, background-color .25s ease-out .125s;
  color: #32CDFC;
}

a:hover{
  color: #212922;
}

p{
  padding: .5rem 0;
}

.flex-container{
  display: flex;
}

/* Header part */
.main-navigation{
  /* Flex */
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* Sizing */
  padding: 0 1.5rem;
  height: 4rem;
  width: 100%;
  /* Behaviour */
  position: fixed;
  z-index: 2;
  border-bottom: 1px solid grey;
  background-color: white;
}

.logo{
  align-items: center;
}

.logo img{
  height: 2rem;
  width: auto;
  display: block;
}

.main-navigation h1{
  font-size: 1.5rem;
  text-transform: uppercase;
}

.logo-text-primary{
  color: black;
  font-weight: 500;
}

.logo-text-secondary{
  font-weight: 400;
}

.main-navigation div{
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 3rem;
}


.main-navigation li{
  margin-right: 1rem;
  display: inline;
}

.main-navigation ul li:last-child{
  margin-right: 0;
}

/* Main body */
.main-body, footer{
  position: relative;
  top: 4rem;
  width: 100%;
}

/* Jumbotron */
.jumbotron, .info, .thumbnails, .thumbnail, .thumbnail-textcontent, .thesis{
  padding: 2rem 1.5rem;
}

.jumbotron-text-content{
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

/* Info */
.main-info, .main-thesis{
  flex-flow: column wrap;
}

/* Thumbnails */
.thumbnails{
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.thumbnail{
  /*FIX*/
  width: 100%;
}

.thumbnail:hover{
  background-color: #DAD6D6;
}

.thumbnail-textcontent{
  flex-flow: column wrap;
}

/* Start learning */
.title{
  text-align: center;
}

/* learning gallery */
.learning-gallery{
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem;
}

.gallery-item{
  padding: 2rem;
}

.gallery-item-textcontent{
  background-color: white;
  padding: 1rem 0 2rem 1rem;
  min-height: 7rem;
}

.gallery-item-textcontent p:first-child{
  padding: 1rem 0;
}

/* Footer */
footer{
  padding: 1rem 2rem;
  height: 4rem;
  justify-content: space-between;
}

footer div a{
  display: inline-block;
}

/* General elements */
.section60percent{
  min-width: 60%;
}

.section60percent img{
  width: 100%;
  height: auto;
  display: block;
}

.section60percent video{
  width: 100%;
  height: auto;
  display: block;
}

.section40percent{
  min-width: 40%;
}

.section35percent{
  width: 35%;
}

.section35percent img{
  width: 100%;
  height: auto;
  display: block;
}

.section65percent{
  width: 65%;
}

.section25percent{
  width: 25%;
}

.section25percent img{
  width: 100%;
  height: auto;
  display: block;
}

.button{
  display: inline-block;
  text-align: center;
  font-weight: 500;
  padding: 1.5rem 2rem;
  color: white;
}

.button:hover{
  color: white;
  background-color: #246867;
}

.quote{
  font-style: italic;
}

.cited{
  text-align: right;
  font-size: .75rem;
}

/* Colors */
.light-grey{
  background-color: #DAD6D6;
}

.light-grey-text{
  color: #DAD6D6;
}

.dark-grey{
  background-color: #212922;
}

.dark-grey-text{
  color: #212922;
}

.light-blue{
  background-color: #32CDFC;
}

.light-blue-text{
  color: #32CDFC;
}

.light-green{
  background-color: #26C485;
}

.light-green-text{
  color: #26C485;
}

.sea-green{
  background-color: #32908F;
}

.sea-green-text{
  color: #32908F;
}
